/* DEFAULT FONT SIZE IS 16px */

/* UNIVERSAL SELECTOR * Another way to add some styles to ALL ELEMENTS */

/* an ID can only be used once - it is truly unique
a CLASS can be used more than one time */

/* COLORS have numbers from 0 to 255 - 16.8 million colors
It has red green and blue to choose from 

RGB NOTATION
There is an RGB NOTATION and a HEXADECIMAL NOTATION
rbg(0, 255, 255, 0.3) Here we added ALPHA - 0.3 for transparancy  

HEXADECIMAL NOTATION
This is much more often used - almost alawys
goes from zero to ff - ff is like 255
there are 16 different numbers and letters
these are written with # and the values for red green and blue
there is usually a color picker
this hexadecimal notation has a shorthand - like #0ff

THE GRAY COLOR
when 3 colors are exactly the same, you get a gray color
there are 256 pure versions of gray to choose from

#444 is good for text color
*/

h1,
h2,
h3 {
  color: #1098ad;
  /* if you click on color you have a slider here and even an ALPHA transparancy slider */
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

/* the descandant selector
goes to the child element and sets size to 16px but this is not a good idea */
/* footer p {
  font-size: 16px;
} */

/* you usually do not style ol and ul elements */
li {
  font-size: 20px;
}

/*  # is the ID selector */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* . is the CLASS selector */
/* if you select all 3 p's, all 3 applications of css will apply */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}
/* left size of color picker is always all of the grays no matter what color */

/* lets try an element selector */
aside {
  background-color: #f7f7f7;
  /* how to make a border 
  you can also do top and bottom here
  */

  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* body {
  background-color: rgba(208, 224, 229, 0.486);
} */

/* So there is an element picker,
there is an ID picker,
and there is a class picker
The ID is unique and can be used once and the CLASS can be used more than once 
IDS use the # to select them
*/

/* PSUDO CLASSES are added with a COLON : 
you can target specific children
*/

li:first-child {
  font-weight: bold;
}

/* li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}

li:nth-child(odd){
  color: blue;
}   */

/* this code here seems tricky...it says find the article element and find the p that actually is the first element inside of article--which does not even exist so this won't work */
article p:first-child {
  color: red;
}
/* when you mix multiple elements psudo classes do not work so well */

/* HOW TO STYLE HYPERLINKS
REMEMBER ORDER L V H A
*/
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* Active means when you are clicking on it */
a:active {
  font-style: italic;
  background-color: black;
}

/* RESOLVING CONFLICT EXAMPLE */
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}

/* CSS elements can inherit styles from parent elements to child elements
It is mostly the ones about text that get inherited */

body {
  color: #444;
  font-family: sans-serif;
  /* this will make all the colors red except the ones that are overwriting red with their own color declarations */
}

/* the body selector does not apply to all elements
  there is inheritence going on
  they are passed down to the children
  many styles do not get inherited - most of the ones related to text do.
*/

/* INHERITANCE also works on a smaller level */
nav {
  font-size: 18px;
}
