/* DEFAULT FONT SIZE IS 16px */

/* an ID can only be used once - it is truly unique
a CLASS can be used more than one time */

/* COLORS have numbers from 0 to 255 - 16.8 million colors
It has red green and blue to choose from 

RGB NOTATION
There is an RGB NOTATION and a HEXADECIMAL NOTATION
rbg(0, 255, 255, 0.3) Here we added ALPHA - 0.3 for transparancy  

HEXADECIMAL NOTATION
This is much more often used - almost alawys
goes from zero to ff - ff is like 255
there are 16 different numbers and letters
these are written with # and the values for red green and blue
there is usually a color picker
this hexadecimal notation has a shorthand - like #0ff

THE GRAY COLOR
when 3 colors are exactly the same, you get a gray color
there are 256 pure versions of gray to choose from

#444 is good for text color
*/

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  color: #1098ad;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

/* the descandant selector
goes to the child element and sets size to 16px but this is not a good idea */
/* footer p {
  font-size: 16px;
} */

/* you do not style ol and ul elements */
li {
  font-size: 20px;
}

/*  # is the ID selector */
#author {
  font-style: italic;
  font-size: 18px;
}

#copywright {
  font-size: 16px;
}

/* . is the CLASS selector */
/* if you select all 3 p's, all 3 applications of css will apply */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}
